<html>
    <body>
        <h1>Prueba</h1>
        <p>Esto es una prueba</p>
        <p>El nombre del profesor es: {{nombre_persona}} {{apellido_persona}}</p>
        <p>estamos viendo el tema de las plantillas a dia {{momento_actual}}</p>
        <p>Temas</p>
        <ul>
            {%if temas%}
                {% for tema in temas %}
                    
                    <li>{{tema}}</li>
                {% endfor %}
            {%else%}
                <li>No hay temas</li>
            {%endif%}
        </ul>

    </body>
</html>